* {
  margin: 0 auto;
  padding: 0;
}
body {
  font: 14px -apple-system, "Hiragino Sans GB", "PingFang SC", "Source Han Sans SC", "Source Han Sans", Monaco, "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
  background-color: #f5f5f5;
  color: #1e1e1e;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}
.header {
  background-color: #fff;
  box-shadow: 0 0 1px #e4e4e4;
}
.header .container .blog-title {
  float: left;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.header .container .blog-title a {
  color: #000;
}
.header .container .navbar {
  width: 720px;
  float: right;
  padding-left: 20px;
}
.header .container .navbar .menu .menu-item {
  margin: 0 30px 0 0;
  float: left;
}
.header .container .navbar .menu .menu-item a {
  color: #000;
  line-height: 30px;
}
.posts {
  width: 960px;
  margin: 0 auto;
}
.posts .post {
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 0 2px #ddd;
  padding: 15px 16px 25px 16px;
}
.posts .post .post-title {
  font-size: 20px;
  font-weight: bold;
}
.posts .post .post-title a {
  color: #000;
}
.posts .post .post-title:hover a {
  color: #368ccb;
}
.posts .post .post-content {
  padding: 10px 0;
}
.posts .post .post-meta {
  font-size: 12px;
  color: #5a5a5a;
}
.posts .post .post-meta .post-time {
  padding: 0 5px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.page-nav {
  padding: 6px 16px;
  float: right;
}
.page-nav a {
  margin: 0 6px;
}
.page-nav .current {
  color: #fff;
  background-color: #368ccb;
  display: inline-block;
  width: 22px;
  border-radius: 10px;
  text-align: center;
}
